.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s; }

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a {
  color: #333;
  padding: 15px 15px 5px; }

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  transition: .3s;
  color: #333;
  border-bottom: 1px solid #993C40; }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: transparent;
  border-bottom: 1px solid #993C40;
  color: #333; }

.jumbotron {
  background: url("../img/bg_1.png") no-repeat center center scroll;
  background-size: cover; }

.footer {
  position: absolute;
  padding-top: 60px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  text-align: center; }

html {
  position: relative;
  min-height: 100%; }

body {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  /* Margin bottom by footer height */
  margin-bottom: 100px; }

h3 {
  font-weight: 300;
  color: #993C40; }

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #993C40, transparent); }

textarea {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px; }

button[type=submit] {
  background-color: #993C40;
  border-color: #993C40; }
  button[type=submit]:hover {
    background-color: #501f21; }

.nav-logo {
  height: 25px; }

.jumbotron-title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 20px;
  color: #993C40; }

.jumbotron-logo-slogan {
  text-align: center;
  padding: 100px 0; }

h1.jumbotron-slogan {
  letter-spacing: 4px;
  font-weight: 300;
  font-size: 48px; }

.jumbotron-heading {
  text-align: center;
  padding: 50px 0; }

.icon-separate {
  margin: 10px 0 20px; }

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

@media (max-width: 767px) {
  #navbar {
    background-color: #ffffff;
    margin-right: 10px; }

  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333; }

  .navbar-inverse .navbar-toggle {
    border: none; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:visited, .navbar-inverse .navbar-toggle:focus {
      background-color: transparent; }

  .jumbotron-title {
    font-size: 42px;
    letter-spacing: 5px; }

  h1.jumbotron-slogan {
    font-size: 24px; } }

/*# sourceMappingURL=main.css.map */
